.divSearchSort{
	display: inline-block;
	margin: auto;
	width: 100%;
	padding-left: 5px;
}

.showSearch{
	margin-right:10px;
	font-family: "Lucida Console";
	font-size:15px;
	text-decoration: none;
	float:left;
	background-color: #2c5697;
	color: #f9f9f9;
	border-top: 1px;
    border-right: 1px;
    border-bottom: 1px ;
    border-left: 1px;
    border-radius:5px;
	padding: 5px 15px 5px 15px;
}

.showSort{
	margin-right:20px;
	font-family: "Lucida Console";
	font-size:15px;
	text-decoration: none;
	float:left;
	background-color: #2c5697;
	color: #f9f9f9;
	border-top: 1px;
    border-right: 1px;
    border-bottom: 1px ;
    border-left: 1px;
    border-radius:5px;
	padding: 5px 10px 5px 10px;
}

#searchContainer{
	animation:fade 1000ms ease-in-out;
  	transform-origin: top center;
	margin: auto;
	width: auto;
	position:absoulute;
	padding-left:45%;
	display: none;
}

.tableSearch th{
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;	
}

#sortContainer{
	animation:fade 1000ms ease-in-out;
  	transform-origin: top center;
	margin: auto;
	width: auto;
	position:absoulute;
	padding-left:45%;
	display: none;
}

.tableSort th{
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;
}

input{
	font-family: "Lucida Console";
	font-size:13px;
	text-decoration: none;
	background-color: #2c5697;
	color: #f9f9f9;
	border-top: 1px;
    border-right: 1px;
    border-bottom: 1px ;
    border-left: 1px;
    border-radius:5px;
	padding: 5px 10px 5px 10px;
}

.bookContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

#tableBook{
	float:left;
	margin:auto;
	width:auto;
	margin-right: 20px;
}

#tableBook th{
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;
}

#tableBook td, a{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;
}

.booksSpecialDateContainer{
	margin: auto;
	width: 100%;
	padding-left: 5px;
}

.booksSpecialDateContainer table{
	float:left;
	margin: auto;
	width: auto;
}

.booksSpecialDateContainer h3{
	font-family: "Lucida Console";
	margin: auto;
	width: 100%;
}

.createBookContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.createBookContainer table{
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;
}

.createGenreContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.createGenreContainer table {
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;
}

.genreContainer{
	display:inline-block;
	margin: auto;
	width: 100%;	
}

.genreContainer table{
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;	
}

.optionsGenre {
	display:inline-block;
	margin: auto;
	width: 100%;	
}

.optionsGenre a{
	margin-left:50px;
}

.genresContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.genresContainer table{
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;		
}

.optionsGenres{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.loginContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.loginContainer table{
	margin:0 auto;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.loyaltyCardContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.loyaltyCardContainer table{
	margin:0 auto;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.loyaltyCardsContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.loyaltyCardsContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
	float:left;	
}

.orderCopiesContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.orderCopiesContainer table{
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.registrationContainer{
	display:inline-block;
	margin: auto;
	width: 100%;	
}

.registrationContainer table{
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;		
}

.reportContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.reportContainer table{
	float:left;
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.summary{
	padding-left:50px;
	display:inline-block;
	margin: auto;
	width: 100%;	
}

.summary p{	
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;		
}

.shopContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.shopContainer table{
	float:left;
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.shoppingCartContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.shoppingCartContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.specialDateContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.specialDateContainer table{
	float:left;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;		
}

.updateBookContainer{	
	display:inline-block;
	margin: auto;
	width: 100%;}

.updateBookContainer table{
	padding-top:100px;
	padding-left:50px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;		
}

.updateGenreContainer{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.updateGenreContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.usersContainers{
	display:inline-block;
	margin: auto;
	width: 100%;
}

.usersContainers table{	
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	}

.userContainer{
	display:inline-block;
	margin: auto;
	width: auto;
}

.userContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;	
}

.booksContainer{
	display:inline-block;
	margin: auto;
	width: auto;	
}

.booksContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;
	float:left;	
}

.userShopList{	
	display:inline-block;
	margin: auto;
	width: 100%;}

.userShopList table{
	padding-left:20px;
	padding-top:20px;
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;
	float:left;	
}

.userOptionContainer{
	display:inline-block;
	margin: 20px auto;
	width: 320px;	
}

.userOptionContainer a{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:20px;
	color: #2c5697;
	float:left	
}


@keyframes fade{
     0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
 }