.image{
	display:inline-block;
	margin: auto;	
	width:350px;
}

.bookContainer{
	display:inline-block;
	width: 400px;	
}

.bookContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;	
}

.addToCartContainer{
	display:inline-block;
	margin: auto;
	width: 100%;	
}

.addToCartContainer table{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;	
}

.bookOptions{	
	display:inline-block;
	margin: auto;
	width: 200px;}

.bookOptions a, input{
	text-decoration: none;
	font-family: "Lucida Console";
	font-size:15px;
	color: #2c5697;		
}