<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Knjige</title>
</head>
<body>
		<form method="get" th:action="@{Books}">
			<table class="tabela" border ="1">
				<caption>Knjige</caption>
				<tr>			
					<th colspan="2" >Jezik:   <a th:href="@{/Books/OrderByLanguageASC}">▲</a>     <a th:href="@{/Books/OrderByLanguageDESC}">▼</a></th>		
					<th><a th:href="@{/Books}">Ponisti rezultate</a>	
					<th><input type="submit" value="Pretraži"/></th>					
				</tr>
				<tr>
					<th>Pretraga:<input type="text" th:value="${param.search}?: ''" name="search"/></th>
					<th> 
						Cena od:<input type="number" min="0" th:value="${param.priceFrom}?: ''" name = "priceFrom"/><br/>
						Cena do:<input type="number" min="0" th:value="${param.priceTo}?: ''" name="priceTo"/>
					</th>
					<th colspan="2">Pretraga zanr:
						<select name="id">
								<option value="">Zanr</option>
								<option th:each="itGenre : ${genres}" th:value="${itGenre.id}" th:text="${itGenre.name}" >
						</select>
					</th>		
				</tr>				
				<tr>					
					<th>Naziv knjige  <a th:href="@{/Books/OrderByNameASC}">▲</a>     <a th:href="@{/Books/OrderByNameDESC}">▼</a></th>
					<th>Cena   <a th:href="@{/Books/OrderByPriceASC}">▲</a>     <a th:href="@{/Books/OrderByPriceDESC}">▼</a></th>
					<th>Ocena   <a th:href="@{/Books/OrderByRatingASC}">▲</a>     <a th:href="@{/Books/OrderByRatingDESC}">▼</a></th>
					<th>Slika</th>
				</tr>
				
				<tr th:each="itBook, status: ${books}">
					<td><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.ISBN}|" th:text="${itBook.name}"></a></td>					
					<td th:text="${itBook.price}"></td>
					<td th:text="${itBook.averageRating}">
					<td><img th:src="@{${'/images/' + itBook.coverPicture}}" height="50px" width="30px"></td>
				</tr>
			</table>
		</form>	
</body>
</html>