<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Knjiga</title>
</head>
<body>
	<div class="bookContainer">
		<table class="tableBook" border ="1">
			<caption>Knjiga</caption>
				<tr><th>ISBN: </th><td th:text="${book.ISBN}"></td></tr>
				<tr><th>Naziv: </th><td th:text="${book.name}"></td></tr>
				<tr><th>Izdavac: </th><td th:text="${book.publisher}"></td></tr>
				<tr><th>Autori/i: </th><td>
				<ul>
							<li th:each="itAuthor: ${book.authors}"><a th:text="${itAuthor}"></a></li>
				</ul>
				</td></tr>
				<tr><th>Datum izdavanja: </th><td th:text="${book.releaseDate}"></td></tr>
				<tr><th>Opis: </th><td th:text="${book.shortDescription}"></td></tr>
				<tr><th>Cena: </th><td th:text="${book.price}"></td></tr>
				<tr><th>Broj stranica: </th><td th:text="${book.numberOfPages}"></td></tr>
				<tr><th>Tip poveza: </th><td th:text="${book.bookType}"></td></tr>
				<tr><th>Pismo: </th><td th:text="${book.letter}"></td></tr>
				<tr><th>Jezik: </th><td th:text="${book.bookLanguage}"></td></tr>
				<tr><th>Prosecna ocena: </th><td th:text="${book.averageRating}"></td></tr>
				<tr th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" >
					<th>Broj kopija: </th><td th:text="${book.numberOfCopies}"></td>
				</tr>
				<tr><th>Zanr/ovi: </th><td>
				<ul>
							<li th:each="itGenre: ${book.genre}"><a th:text="${itGenre.name}"></a></li>
				</ul>
				</td></tr>
				<tr><th>Slika: </th><td><img th:src="@{${'/images/' + book.coverPicture}}" alt="BookCover" height="180px" width="110px"></img></td></tr>
		</table>
	</div>		
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" 
			th:href="|/HeapOfBooks/Books/Update?id=${book.ISBN}|">Izmeni knjigu</a>
		<p/>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" 
			th:href="|/HeapOfBooks/Books/Order?id=${book.ISBN}|">Poruci knjige</a>
		<p/>
		<a th:href="@{/Books}">Nazad</a>
</body>
</html>