<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control:public, max-age=86400">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/header.css">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/books.css">
	<script type="text/javascript" src="/HeapOfBooks/js/header.js"></script>	
	<title>Knjige</title>
</head>
<body>
	<div class="header">
	<img class="logo" th:src="@{${'/logo/logoV3.PNG'}}" alt="LOGO"/>
	<a class="logout" th:if="${session.user != null}" th:href="@{/Login/Logout}">Odjavite se</a>	
	<a class="register" th:if="${session.user == null}" th:href="@{/Users/Registration}">Registrujte se</a>
	<a class="login" th:if="${session.user == null}" th:href="@{/Login}">Ulogujte se</a>
	<h3 class="user" th:if="${session.user != null}" th:text="${session.user.name + ' ' + session.user.surname}"></h3>	
	<button class="aoptions" th:if="${session.user != null}" onclick="klik()">Opcije</button>		
	</div>
	
	<div id="options">	
	<a class="profile" th:if="${session.user != null}" th:href="|/HeapOfBooks/Users/Details?id=${session.user.id}|" >Moj profil</a>
	<p/>
	<a class="basket" th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/ShoppingCart}" >Korpa</a>
	<p/>
	<a class="shop" th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/Shop}" >Kupovine</a>
	<p/>
	<a class="shop" th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/LoyaltyCard/Details}" >Kartica</a>
	<p/>
	<a class="users" th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Users}">Korisnici</a>
	<p/>
	<a class="users" th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Genres}">Zanrovi</a>
	<p/>
	<a class="createBook" th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Books/Create}">Kreiraj knjigu</a>
	</div>
		<form method="get" th:action="@{/Books}" class="bookForm">
		
			<div class="divSearchSort">
				<button type="button" class="showSearch" onclick="klikSearch()">Pretraga</button>
				<button type="button" class="showSort" onclick="klikSort()">Sortiranje</button>
			</div>
			
			<div id="searchContainer">
			<table class="tableSearch">
				<tr th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}">
					<th align="left">ISBN:<input type="number" min="1000000000000" max="9999999999999" th:value="${param.isbn}?: ''" name="isbn"/></th>
				</tr>
				<tr><th align="left">Pretraga:<input type="text" th:value="${param.search}?: ''" name="search"/></th></tr>
				<tr>					
					<th align="left"> 
						Cena od:<input type="number" min="0" th:value="${param.priceFrom}?: ''" name = "priceFrom"/><br/>
						Cena do:<input type="number" min="0" th:value="${param.priceTo}?: ''" name="priceTo" />
					</th>		
				</tr>
				<tr><th align="left">Pretraga zanr:<select name="id">
								<option value="">Zanr</option>
								<option class="genreOption" th:each="itGenre : ${genres}" th:value="${itGenre.id}" th:text="${itGenre.name}" >
						</select>
				</th></tr>
				<tr><th align="right"><input type="submit" value="Pretraži"/></th></tr>			
			</table>	
			</div>
			
			<div id="sortContainer">
			<table class="tableSort">
				<tr><th align="right">Jezik:   <a th:href="@{/Books/OrderByLanguageASC}">▲</a>     <a th:href="@{/Books/OrderByLanguageDESC}">▼</a></th></tr>
				<tr><th align="right">Naziv knjige:  <a th:href="@{/Books/OrderByNameASC}">▲</a>     <a th:href="@{/Books/OrderByNameDESC}">▼</a></th></tr>
				<tr><th align="right">Cena:   <a th:href="@{/Books/OrderByPriceASC}">▲</a>     <a th:href="@{/Books/OrderByPriceDESC}">▼</a></th></tr>
				<tr><th align="right">Ocena   <a th:href="@{/Books/OrderByRatingASC}">▲</a>     <a th:href="@{/Books/OrderByRatingDESC}">▼</a></th></tr>				
			</table>
			</div>

			<div class="booksContainer">
			<table th:each="itBook, status: ${books}" id="tableBook">						
					<tr><td colspan="2" align="center"><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.ISBN}|"><img th:src="@{${'/images/' + itBook.coverPicture}}" 
						height="390px" width="235px" alt="Book cover"></a></td></tr>						
					<tr><th align="left">Naziv: </th><td align="right"><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.ISBN}|" th:text="${itBook.name}"></a></td></tr>
					<tr><th align="left">Cena: </th><td align="right" th:text="${itBook.price}"></td></tr>
					<tr><th align="left">Prosecna ocena: </th><td align="right" th:text="${itBook.averageRating}"></td></tr>			
			</table>
			</div> 
		</form>			
</body>
</html>