<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
	<title>Prijava korisnika</title>
</head>
<body>
	<form method="post" th:action="@{Login}">
	<div class="loginContainer">
		<table class="table">
			<caption>Knjizara prijava</caption>
			<tr><th>Korisnicko ime:</th><td><input type="text" value="" name="userName" required/></td></tr>
			<tr><th>Sifra:</th><td><input type="password" value="" name="userPassword" required/></td></tr>
			<tr><th></th><td><input type="submit" value="Prijavi se" /></td>
		</table>
	</div>
	</form>
	<br/>
</body>
</html>