<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control:public, max-age=86400">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/books.css">
	<script type="text/javascript" src="/HeapOfBooks/js/header.js"></script>
	<title th:text="#{registration}"></title>
</head>
<body>
		<form method="post" th:action="@{/Users/Registration}">
		<div class="registrationContainer">
			<table class="table">
				<tr><th th:text="#{username}"></th><td><input type="text" value="" name="userName" required></td></tr>
				<tr><th th:text="#{password}"></th><td><input type="password" value="" name="userPassword" required></td></tr>
				<tr><th>E-Mail</th><td><input type="text" value="" name="eMail" required></td></tr>
				<tr><th th:text="#{name}"></th><td><input type="text" value="" name="name" required></td></tr>
				<tr><th th:text="#{surname}"></th><td><input type="text" value="" name="surname" required></td></tr>
				<tr><th th:text="#{dateOfBirth}"></th><td><input type="date" value="" name="dateOfBirth" required></td></tr>
				<tr><th th:text="#{address}">:</th><td><input type="text" value="" name="address" required></td></tr>
				<tr><th th:text="#{phone}"></th><td><input type="text" value="" name="phoneNumber" required></td></tr>
				<tr><th></th><td align="right"><input type="submit" th:value="#{create}"/></td></tr>
			</table>
		</div>
		</form>
</body>
</html>