<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control:public, max-age=86400">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/header.css">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/books.css">
	<script type="text/javascript" src="/HeapOfBooks/js/header.js"></script>
	<title>Izvestavanje</title>
</head>
<body>	
	<div class="header">
		<img class="logo" th:src="@{${'/logo/logoV4.PNG'}}" alt="LOGO" height="150px"/>
		<h3 class="user" th:if="${session.user != null}" th:text="${session.user.name + ' ' + session.user.surname}"></h3>	
		<button class="aoptions" th:if="${session.user != null}" onclick="klik()">Opcije</button>
		<a class="logout" th:if="${session.user != null}" th:href="@{/Login/Logout}">Odjavite se</a>	
		<a class="register" th:if="${session.user == null}" th:href="@{/Users/Registration}">Registrujte se</a>
		<a class="login" th:if="${session.user == null}" th:href="@{/Login}">Ulogujte se</a>								
	</div>	
	<div id="options">	
		<a th:if="${session.user != null}" th:href="|/HeapOfBooks/Users/Details?id=${session.user.id}|" >Moj profil</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/Shop}" >Kupovine</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/LoyaltyCard/Details}" >Kartica</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/ShoppingCart}" >Korpa</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/SpecialDate}">Specijalni datumi</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Books/Create}">Kreiraj knjigu</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Report}">Izvestavanje</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Users}">Korisnici</a>		
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Genres}">Zanrovi</a>		
	</div>
		<div class="reportContainer">
		<form method="get" th:action="@{/Report}">
			<table class="tableSearch">
				<tr>					
					<th align="left"> 
						Datum od:<input type="date"  name = "dateFrom"/><br/>
						Datum do:<input type="date"  name="dateTo" />
					</th>		
				</tr>
				<tr>					
					<th align="left"> 
						Sortiranje cena asc:<input type="checkbox" name = "priceAsc"/><br/>
						Sortiranje cena desc:<input type="checkbox" name="priceDesc" />
					</th>		
				</tr>
				<tr>					
					<th align="left"> 
						Sortiranje br kopija asc:<input type="checkbox" name = "numAsc"/><br/>
						Sortiranje br kopija desc:<input type="checkbox" name="numDesc" />
					</th>		
				</tr>
				
				<tr><th align="right"><input type="submit" value="Pretraži"/></th></tr>			
			</table>
		</form>
			<table th:each="itReport, status: ${report}">												
					<tr><th align="left">Naziv knjige: </th><td align="right" th:text="${itReport.book.name}"></td></tr>
					<tr><th align="left">Autori/i: </th><td>
						<ul>
							<li th:each="itAuthor: ${itReport.book.authors}"><a th:text="${itAuthor}"></a></li>
						</ul>
					</td></tr>
					<tr><th align="left">Broj prodatih kopija: </th><td align="right" th:text="${itReport.bookSum}"></td></tr>
					<tr><th align="left">Ukupna cena:</th><td align="right" th:text="${itReport.price}"></td>			
			</table>	
		</div>
		<div class="summary">
			<p>Ukupna cena </p>
			<p th:text="${price}"></p>
			<p>Ukupan broj kopija </p>
			<p th:text="${copies}"></p>
		</div>
		
</body>
</html>