<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">

	<title>Kupljene knjige</title>
</head>
<body>

			
			<table th:each="itShop, status: ${shop}" id="tableShop">												
					<tr><th align="left">Datum: </th><td align="right" th:text="${itShop.shoppingDate}"></td></tr>
					<tr><th align="left">Ukupna cena: </th><td align="right" th:text="${itShop.price}"></td></tr>
					<tr><th align="left">Broj kupljenih knjiga: </th><td align="right" th:text="${itShop.bookSum}"></td></tr>
					<tr><th align="left">Knjige:</th><td>
					<ul th:each="itBook, status: ${itShop.boughtBooks}">
						<li><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.book.ISBN}|" th:text="${itBook.book.name}"></a></li>				
					</ul>					
					</td>			
			</table>	
</body>
</html>