<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control:public, max-age=86400">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/header.css">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/books.css">
	<script type="text/javascript" src="/HeapOfBooks/js/header.js"></script>
	<title th:text="#{shop}"></title>
	<script src="/HeapOfBooks/js/jquery-3.5.1.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#locales").change(function () {
		        var selectedOption = $('#locales').val();
		        if (selectedOption != ''){
		        	var url = window.location.href;		 
		        	var change = '/HeapOfBooks/Books/ChangeLanguage?lang=' + selectedOption
		           	$.ajax({
		           		url: change
		           	});
		            window.location.replace(url);
		        }
		    });
		});
	</script>	
</head>
<body>
	<div class="header">
		<img class="logo" th:src="@{${'/logo/logoV4.PNG'}}" alt="LOGO" height="150px"/>
		<h3 class="user" th:if="${session.user != null}" th:text="${session.user.name + ' ' + session.user.surname}"></h3>	

		<button class="aoptions" th:if="${session.user != null}" onclick="klik()" th:text="#{navigation}"></button>
		<a class="logout" th:if="${session.user != null}" th:href="@{/Login/Logout}" th:text="#{logOut}"></a>	
		<a class="register" th:if="${session.user == null}" th:href="@{/Users/Registration}" th:text="#{registration}"></a>
		<a class="login" th:if="${session.user == null}" th:href="@{/Login}" th:text="#{logIn}"></a>
		<div class="languageContainer">
		<span th:text="#{lang.change}"></span>
			<select id="locales">
			    <option value=""></option>
			    <option value="en" th:text="#{lang.eng}"></option>
			    <option value="sr" th:text="#{lang.sr}"></option>
			</select>	
		</div>							
	</div>	
	<div id="options">	
		<a th:href="|/HeapOfBooks/Books|" th:text="#{mainPage}"></a>
		<a th:if="${session.user != null}" th:href="|/HeapOfBooks/Users/Details?id=${session.user.id}|" th:text="#{myProfile}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/Shop}" th:text="#{shop}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/LoyaltyCard/Details}" th:text="#{loyaltyCard}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/ShoppingCart}" th:text="#{shoppingCart}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/SpecialDate}" th:text="#{specialDate}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/LoyaltyCard}" th:text="#{loyaltyCards}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Books/Create}" th:text="#{createBook}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Report}" th:text="#{report}"></a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Users}" th:text="#{users}"></a>		
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Genres}" th:text="#{genres}"></a>	
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Comments}" th:text="#{comments}"></a>	
	</div>
		<div class="shopContainer">
			<table th:each="itShop, status: ${shop}" id="tableShop">												
					<tr><th align="left" th:text="#{date}"></th><td align="right" th:text="${itShop.shoppingDate}"></td></tr>
					<tr><th align="left" th:text="#{sumPrice}"></th><td align="right" th:text="${itShop.price}"></td></tr>
					<tr><th align="left" th:text="#{boughtCopies}"></th><td align="right" th:text="${itShop.bookSum}"></td></tr>
					<tr><th align="left" th:text="#{booksTitle}"></th><td>
					<ul th:each="itBook, status: ${itShop.boughtBooks}">
						<li><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.book.ISBN}|" th:text="${itBook.book.name}"></a></li>				
					</ul>					
					</td>			
			</table>
		</div>	
</body>
</html>