<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control:public, max-age=86400">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/header.css">
	<link type="text/css" rel="stylesheet" href="/HeapOfBooks/css/books.css">
	<script type="text/javascript" src="/HeapOfBooks/js/header.js"></script>
	<title>Napravi specijalni datum</title>
	
</head>
<body>
	<div class="header">
		<img class="logo" th:src="@{${'/logo/logoV4.PNG'}}" alt="LOGO" height="150px"/>
		<h3 class="user" th:if="${session.user != null}" th:text="${session.user.name + ' ' + session.user.surname}"></h3>	
		<button class="aoptions" th:if="${session.user != null}" onclick="klik()">Opcije</button>
		<a class="logout" th:if="${session.user != null}" th:href="@{/Login/Logout}">Odjavite se</a>	
		<a class="register" th:if="${session.user == null}" th:href="@{/Users/Registration}">Registrujte se</a>
		<a class="login" th:if="${session.user == null}" th:href="@{/Login}">Ulogujte se</a>								
	</div>	
	<div id="options">	
		<a th:if="${session.user != null}" th:href="|/HeapOfBooks/Users/Details?id=${session.user.id}|" >Moj profil</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/Shop}" >Kupovine</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/LoyaltyCard/Details}" >Kartica</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Kupac}" th:href="@{/ShoppingCart}" >Korpa</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/SpecialDate}">Specijalni datumi</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Books/Create}">Kreiraj knjigu</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Report}">Izvestavanje</a>
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Users}">Korisnici</a>		
		<a th:if="${session.user != null and session.user.userType == T(com.sf.heapOfBooks.model.enums.UserEnum).Administrator}" th:href="@{/Genres}">Zanrovi</a>		
	</div>

	<div class="specialDateContainer">
		<form method="post" th:action="@{/SpecialDate}">
			<div class="specialOptions">
				<table class="table">
				<tr><th align="left">Datum:<input type="date" name ="date"/></th></tr>
				<tr><th align="left">Popust:<input type="number" min="1" max="50" name ="discount"/></th></tr>
				<tr><th align="left">Izabri sve knjige:<input type="checkbox" name = "selectAll" id="select-all"/></th></tr>
				<tr><th align="right"><input type="submit" value="Postavi"/></th></tr>			
			</table>			
			</div>
			
			<div class="booksContainer">
			<table th:each="itBook, status: ${book}" id="tableBook">						
					<tr><td colspan="2" align="center"><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.ISBN}|"><img th:src="@{${'/images/' + itBook.coverPicture}}" 
						height="390px" width="235px" alt="Book cover"></a></td></tr>						
					<tr><th align="left">Naziv: </th><td align="right"><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.ISBN}|" th:text="${itBook.name}"></a></td></tr>
					<tr><th align="left">Cena: </th><td align="right" th:text="${itBook.price}"></td></tr>
					<tr><th align="left">Prosecna ocena: </th><td align="right" th:text="${itBook.averageRating}"></td></tr>	
					<tr><th align="left">Izaberi: </th><td align="right"><input type="checkbox" name="selectBook" th:value="${itBook.ISBN}"/></td></tr>		
			</table>
			</div> 
		</form>
	</div>
	<script type="text/javascript">
		document.getElementById('select-all').onclick = function() {
		  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
		  for (var checkbox of checkboxes) {
		    checkbox.checked = this.checked;
		  }
		}
	</script>
</body>
</html>