<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Korisnici</title>
</head>
<body>
		<form method="get" th:action="@{Users}">
		<div class="usersContainers">
			<table class="table" border ="1">
				<caption>Korisnici</caption>
				<tr>
					<th>Korisnicko ime</th>
					<th>Datum registracije</th>					
					<th>Tip korisnika</th>
				</tr>
				<tr th:each="itUser, status: ${users}">
					<td><a th:href="|/HeapOfBooks/Users/Details?id=${itUser.id}|" th:text="${itUser.userName}"></a></td>
					<td th:text="${itUser.registrationDateAndTime}"></td>					
					<td th:text="${itUser.userType}"></td>
				</tr>
			</table>
		</div>
		</form>
		<p/>
		<a th:href="@{/Books}">Nazad</a>
</body>
</html>