<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista zelja</title>
</head>
<body>
		<form method="post" th:action="@{/ShoppingCart/Add}">
			<div class="booksContainer">
			<table class="table" border ="1">						
				<caption>Lista zelja</caption>								
				<tr>				
					<th align="center">Slika</th>					
					<th align="center">Naziv knjige</th>
					<th align="center">Cena</th>
					<th align="center">Ocena</th>
					<th align="center">Kolicina</th>					
				</tr>				
				<tr th:each="itBook, status: ${books}">
					<td align="center"><img th:src="@{${'/images/' + itBook.book.coverPicture}}" height="180px" width="110px"></td>
					<td align="center"><a th:href="|/HeapOfBooks/Books/Details?id=${itBook.book.ISBN}|" th:text="${itBook.book.name}"></a></td>					
					<td align="center" th:text="${itBook.book.price}"></td>
					<td align="center" th:text="${itBook.book.averageRating}">
					<td align="center" ><input type="number" value="" min="1" name="quantity"/><input type="submit" value="Dodaj">
					<input type="hidden" th:value="${itBook.book.ISBN}" name="isbn"></td>					
				</tr>
			</table>
			</div>
		</form>	
		<p/>
		<a th:href="@{/Books}">Pocetna</a>
</body>
</html>